@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

div#exp{
    /* padding: 100px; */
    height: 150%;
}
h2#head{
    margin-top: 20%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Raleway', sans-serif;
    }
}